/* Team Page Specific Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  color: #333;
}

h1 {
  margin-top: 100px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 4rem;
}

.team-member {
  position: relative;
  width: 275px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  outline: none;
}

.team-member:focus,
.team-member:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.thumb {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.team-member:hover .thumb,
.team-member:focus .thumb {
  opacity: 0.6;
}

.member-details {
  padding: 16px;
  background-color: #fff;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: -20px;
}

.team-member:hover .member-details,
.team-member:focus .member-details {
  max-height: 250px;
  opacity: 1;
}


h4 {
  padding: 16px;
  font-size: 1.2rem;
}

section {
  padding: 0.1px;
}